<div class="container text-center mb-4">
    <img class="m-4"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/1200px-Bootstrap_logo.svg.png"
        alt="" width="60" height="60">
    <h2>Checkout form</h2>
    <p class="lead pl-5 pr-5 pb-5">Below is an example form built entirely with Bootstrap's form controls. Each
        required form
        group has a validation state that can be triggered by attempting to submit the form without completing
        it.</p>
</div>