<h4 class="text-muted">
    Your cart
    <span class="badge badge-secondary badge-pill float-right">3</span>
</h4>
<ul class="list-group">
    <li class="list-group-item">
        <div>
            <h6>
                Product name
                <span class="text-muted float-right">$12</span>
            </h6>
            <small class="text-muted">Brief description</small>
        </div>
    </li>
    <li class="list-group-item">
        <div>
            <h6>
                Second product
                <span class="text-muted float-right">$8</span>
            </h6>
            <small class="text-muted">Brief description</small>
        </div>
    </li>
    <li class="list-group-item">
        <div>
            <h6>
                Third item
                <span class="text-muted float-right">$5</span>
            </h6>
            <small class="text-muted">Brief description</small>
        </div>
    </li>
    <li class="list-group-item bg-light">
        <div class="text-success">
            <h6>
                Promo code
                <span class="float-right">-$5</span>
            </h6>
            <span>EXAMPLECODE</span>
        </div>
    </li>
    <li class="list-group-item">
        <p>
            Total (USD)
            <strong class="float-right">$20</strong>
        </p>
    </li>
</ul>

<div class="card p-2 mt-3">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Promo code">
        <button type="submit" class="btn btn-secondary">Redeem</button>
    </div>
</div>